
.header {
    background-color: rgb(200, 239, 247);
    height: 80px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 0 30px;
    border-bottom: 1px solid #eaeaea;
    border-radius: 6px;
}
.header__logo {
    position: relative;
}
.header__logo__img {
    height: 78px;
    pointer-events: none;
}
.header__buttons {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
}
.header__cart {
    display: grid;
    gap: 20px;
    grid-auto-flow: column;
    cursor: pointer;
    .cartLi {
        display: grid;
        grid-auto-flow: column;
        align-items:center
    }
}


@media (prefers-reduced-motion: no-preference) {
    .header__logo__img {
        animation: header__logo-shake infinite 4s linear;
        }
    }

    @keyframes header__logo-shake {
        0% {
            transform: translateX(0px) rotate(0deg);
        }
        38% {
            transform: translateX(0px) rotate(50deg);
        }
        39% {
            transform:  rotate(51deg);
        }
        40% {
            transform:  rotate(52deg);
        }
        41% {
            transform:  rotate(53deg);
        }
        42% {
            transform:  rotate(54deg);
        }
        43% {
            transform:  rotate(55deg);
        }
        44% {
            transform:  rotate(55deg);
        }
        45% {
            transform:  rotate(55deg);
        }
        46% {
            transform:  rotate(56deg);
        }
        47% {
            transform: translateX(3px) translateY(-3px) rotate(57deg);
        }
        48% {
            transform: translateX(-3px) translateY(3px) rotate(58deg);
        }
        49% {
            transform: translateX(3px) translateY(-3px) rotate(59deg);
        }
        50% {
            transform: translateX(-3px) translateY(3px) rotate(60deg);
        }
        51% {
            transform: translateX(3px) translateY(-3px) rotate(60deg);
        }
        52% {
            transform: rotate(60deg);
        }
        53% {
            transform:  rotate(60deg);
        }
        54% {
            transform: rotate(60deg);
        }
        55% {
            transform: translateX(0px) rotate(60deg);
        }
        100% {
            transform: translateX(0px) rotate(180deg);
        }
    }